@model IEnumerable<GameSession>

@{
    ViewBag.Title = "Index GameSessions";
}

<section>
<h1> Game Sessions</h1>
    <form ng-controller="GameSessionsController" name="gameSessions" data-base-uri="foo/bar/api/gamesessions/">
        

        <ul>
            <li ng-repeat="session in items">
                <h2>{{session.date}}</h2>
            </li>
        </ul>
        
        <button ng-click="create()">Game Session (server)</button>


        <div>
            THIS will be the directive with isolated scope! (on own element then)
        </div>

    </form>
</section>



@section scripts
{
    <script type="text/javascript" src="/js/api.gurps.angular.js"></script>
    <script type="text/javascript">
        angular.module('app').value('gameSessions', @Model.ToJson());
    </script>
}
