@using CollectionJsonExtended.Core
@model IEnumerable<GameSession>

@{
    ViewBag.Title = "Index GameSessions";
}

<section>
    <form ng-controller="GameSessionsController" name="gameSessions">
        @*data-base-uri="foo/bar/api/gamesessions/"*@
        
        <section>
            @*<h2>recursion directive ('E')</h2>
            <recursion current="{prompt: 'a', data:[{prompt: 'b', data:[{prompt: 'c'},{prompt: 'c', data:[{prompt: 'd'}]}]},{prompt: 'b', data:[]}]}">
                <p>{{current.prompt}} (from directive template return function evaluating inline html)</p>
                <ul>
                    <li ng-repeat="item in current.data">
                        <recursion current="item"></recursion>
                    </li>
                </ul>
            </recursion>*@


            <h2>recursion directive ('A')</h2>
            <div recursion="{prompt: 'a', data:[{prompt: 'b', data:[{prompt: 'c'},{prompt: 'c', data:[{prompt: 'd'}]}]},{prompt: 'b', data:[]}]}">
                <p>{{recursion.prompt}} (from directive template return function evaluating inline html)</p>
                <ul>
                    <li ng-repeat="item in recursion.data">
                        <div recursion="item"></div>
                    </li>
                </ul>
            </div>

        </section>


        <section ng-init="data = [{prompt: 'b', data:[{prompt: 'c'},{prompt: 'c', data:[{prompt: 'd'}]}]},{prompt: 'b', data:[]}]">
            <h2>mod-include directive ('A')</h2>

            <ul>
                <li ng-repeat="item in data" mod-include="foo">
                    foo?
                    <p>
                        prompt: {{item.prompt}}
                    </p>
                    <p>ghfkdgh</p>

                    hallo
                    <ul>
                        <li ng-repeat="item in item.data" mod-include="foo"></li>
                    </ul>
                </li>
            </ul>
        </section>


        @*<section>
            <h3>collection directive: has no inline content:</h3>
            <ecollection base="/foo/bar/api/gamesessions"></ecollection>       
        </section>*@


        @*<section>
            
            <h3><input type="checkbox" ng-model="toggler"/>collection directive: has inline content:</h3>

            

            <div a-collection="/foo/bar/api/gamesessions" ng-if="toggler">
                <p>I am inline!</p>
                <p>random: {{random}}</p>
                <p>version: {{base.version}}</p>

                <ul>
                    
                </ul>

                <div recursion="base.template">
                    
                <p>version: {{base.version}}</p>

                    <ul>
                        <li ng-repeat="current in recursion.data">
                    
                            <div ng-if="current.hasOwnProperty('value')">
                                <label>{{current.prompt}}</label>
                                <input type="text" name="current.name"></input>
                                <div recursion="current"></div>
                            </div>

                            <div ng-if="current.hasOwnProperty('objects')">
                                <label>{{current.prompt}}</label>
                                <div recursion="current"></div>
                            </div>



                            <p>object: {{current.hasOwnProperty('object')}}</p>


                            <p>values: {{current.hasOwnProperty('values')}}</p>


                            
                        </li>
                    </ul>                    


            </div>            
        </section>*@


        @*<section>
            <h2> Game Sessions from server</h2>
            <ul>
                <li ng-repeat="session in items">
                    <h2>{{session.date}}</h2>
                </li>
            </ul>
        
            <button ng-click="create()">Game Session (server)</button>
        </section>*@
       

    </form>
</section>



@section scripts
{
    <script type="text/javascript" src="/js/api.gurps.angular.js"></script>
    @*<script type="text/javascript">
        angular.module('app').value('gameSessions', @( MvcHtmlString.Create(new CollectionJsonWriter<GameSession>().Serialize() )) );
    </script>*@
}
