@using CollectionJsonExtended.Core
@model IEnumerable<GameSession>

@{
    ViewBag.Title = "Index GameSessions";
}

<section>
    <form ng-controller="GameSessionsController" name="gameSessions">
        @*data-base-uri="foo/bar/api/gamesessions/"*@
        
        <section>
            <h2>recursion directive</h2>
            <recursion current="{prompt: 'a', data:[{prompt: 'b', data:[{prompt: 'c'},{prompt: 'c', data:[{prompt: 'd'}]}]},{prompt: 'b', data:[]}]}">
                <p>{{current.prompt}} (from directive template return function evaluating inline html)</p>
                <ul>
                    <li ng-repeat="item in current.data">
                        <recursion current="item"></recursion>
                    </li>
                </ul>
            </recursion>


<p>???</p>

            <div recursion="{prompt: 'a', data:[{prompt: 'b', data:[{prompt: 'c'},{prompt: 'c', data:[{prompt: 'd'}]}]},{prompt: 'b', data:[]}]}">
                <p>{{recursion.prompt}} (from directive template return function evaluating inline html)</p>
                <ul>
                    <li ng-repeat="item in recursion.data">
                        <div recursion="item"></div>
                    </li>
                </ul>
            </div>

        </section>


        @*      <section>
            <h3>collection directive: has no inline content:</h3>
            <collection base="/foo/bar/api/gamesessions"></collection>       
        </section>*@


        <section>
            <h3>collection directive: has inline content:</h3>
            <collection base="/foo/bar/api/gamesessions">
                <p>I am inline!</p>
                <p>random: {{random}}</p>
                <p>version: {{base.version}}</p>

                <ul>
                    
                </ul>

                <recursion current="base.template">
                    <ul>
                        <li ng-repeat="item in current.data">
                            {{item.prompt}} ({{item.prompt}})
                            

                            rec. 1 (if objects)
                            <recursion current="item" ng-if="data.objetcs"></recursion>

                            rec.2 (if object)
                            <recursion current="item" ng.if="data.object"></recursion>
                        </li>
                    </ul>                    
                </recursion>


                @*<ul>
                    <li ng-repeat="data in base.template.data">
                        <label>{{data.prompt}}</label>
                        <input type="text" name="data.name"></input>
                    </li>
                </ul>*@


            </collection>
            <p>.</p> 
        </section>


        @*<section>
            <h2> Game Sessions from server</h2>
            <ul>
                <li ng-repeat="session in items">
                    <h2>{{session.date}}</h2>
                </li>
            </ul>
        
            <button ng-click="create()">Game Session (server)</button>
        </section>*@
       

    </form>
</section>



@section scripts
{
    <script type="text/javascript" src="/js/api.gurps.angular.js"></script>
    @*<script type="text/javascript">
        angular.module('app').value('gameSessions', @( MvcHtmlString.Create(new CollectionJsonWriter<GameSession>().Serialize() )) );
    </script>*@
}
