@model ContentBundle.Section

<div>
    
    I am a section

    @Html.LabelFor(m => m.Title)
    @Html.EditorFor(m => m.Title)
    
    @Html.LabelFor(m => m.Data)
    @Html.EditorFor(m => m.Data)
           
    
</div>